<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p> I HOPE SHE MADE LOTSA SPAGHETTI </p>
  <p>
    I wonder what's for DINNER
    <address>
      Oh boy<br>
      I'm so hungry I could eat an  octorok
    </address>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">snooping@susual.isee</a>
  </p>

  {{#link-to 'standusers' class="button"}}
    ONLY ZUUL
  {{/link-to}}
</div>